@model CurrencyConversionMVCAPP.Models.Currency
    <div class="wrapper">

        <header>Currency Converter</header>

        <form asp-action="Index" asp-controller="Currency" method="post">


            <div class="drop-list">
                <div class="from">
                    <p> From </p>
                    
                    <div class="drop-list">
                        <img src="https://flagcdn.com/48x36/za.png" />
                        <select  class="select-box" asp-for="@Model.Source" asp-items="@Model.CurrencyNames"></select>

                    </div>
                </div>
            </div>

            <div class="drop-list">
                <div class="to">
                    <p > To</p>
                    
                    <div class="drop-list">
                        <img src="https://flagcdn.com/48x36/za.png" />
                        <select class="select-box" asp-for="@Model.Destination" asp-items="@Model.CurrencyNames"></select>

                    </div>
                </div>
            </div>

            <div class="amount" style="margin-top:20px">
                <label asp-for="@Model.Amount"></label>
                <input asp-for="@Model.Amount" type="number" min="1" step="1" max="@int.MaxValue" value="1" />
                <span asp-validation-for="@Model.Amount"></span>
            </div>
            <div class="exchange-rate"> 1 USD=118.16 NPR</div>
            <div>
                <button class="button" type="submit">Get Exchange Rates </button>
            </div>
        </form>
    </div>