@model CurrencyConversionMVCAPP.ViewModels.CurrencyResultViewModel


<div class="start" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    
    <div class="wrapper">
        <img src=@Model.ImgSrc class="img-thumbnail" alt="Flag" style="height:48px; width:60px" />

        <div style="font-size:4px;">
            <h1>@Model.currency.Amount @Model.currency.Source.Substring(0, 3) = </h1>
        </div>
        <div style="margin-top:30px;">
            <span style="font-size:70px"> @Model.Result @Model.currency.Destination.Substring(0, 3)</span>

            <img src=@Model.ImgDest class="img-thumbnail" alt="Flag" style="height:48px; width:60px; margin-bottom:40px;" />
        </div>
        <center>
            <p style="margin-top:150px; justify-content:center;align-content:center">@Model.currency.Amount @Model.currency.Destination.Substring(0, 3) =</p>
        </center>
        <p style="margin-top: 150px; justify-content: center; align-content: center;margin-right:320px">@Model.RevResult @Model.currency.Source.Substring(0, 3)</p>

    </div>



</div>
            <div id="bottom">
              
            </div>
